{% extends '../../layout-platform.twig' %}
{% block content %}
<div class="hero-unit">
	<div class="alert alert-info">
		<strong>Repository added</strong> 
		Repository <em>{{ name }}</em> configured.
	</div>
</div>
{% endblock %}