{% extends '../layout.twig' %}
{% block content %}
<div class="center_left">
	<div class="welcome_box">
		<p class="welcome">
			<span class="orange">OAI Proxy URL</span><br />
			<span style="display: block; text-align: center; font-size: 15px;font-weight: bold; padding-top: 40px; padding-bottom: 40px;">
            	{{ oaiurl }}
            </span>
            Developed by <a href="http://www.lyncode.com">Lyncode</a>.
        </p>
    </div>
</div>
<div class="clear"></div>
{% endblock %}