{% extends '../layout.twig' %}
{% block content %}
		<div class="jumbotron">
	        <h1>Enjoy your stats!</h1>
	        <p class="lead">Express the idea here!</p>
	        <div class="btn-grp">
	        	<a class="btn btn-large btn-success" href="{{ path '/enter' }}">Try it for free!</a>
	        	<a class="btn btn-large btn-primary" href="{{ path '/login' }}">Sign in</a>
	        </div>
      	</div>
{% endblock %}