{% extends '../layout.twig' %}
{% block content %}
			{% if error %}
				<div class="alert alert-error">
	              <button type="button" class="close" data-dismiss="alert">×</button>
	              <strong>Error!</strong> Your login attempt was not successful, try again.
	            </div>
			{% endif %}
			<form class="form-signin" action="{{ path '/j_spring_security_check' }}" method="POST">
		    	<h2 class="form-signin-heading">Sign in</h2>
		        <input name="j_username" type="text" class="input-block-level" placeholder="Email address">
		        <input name="j_password" type="password" class="input-block-level" placeholder="Password">
		        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
		        <a class="right-to-large-button" href="{{ path '/resetpassword' }}">Lost Password?</a>
		        <div class="clear"></div>
		    </form>
{% endblock %}
